@import './shared.scss';

.response-marker-component {
    @include reset-button();
    position: relative;
    width: 46px;
    height: 46px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .zip {
        z-index: 1;
        font-weight: bold;
    }

    .indicator {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        stroke-linecap: round;
        filter: drop-shadow($base-shadow);

        circle {
            fill: white;
        }

        path {
            stroke: black;
            stroke-width: 3px;
            fill: none;

            &.materials {
                stroke: $materials;
            }

            &.labor {
                stroke: $labor;
            }

            &.tools {
                stroke: $tools;
            }

            &.funding {
                stroke: $funding;
            }

            &.hidden {
                display: none;
            }
        }
    }
}
