$base-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
$labor: #388e3c;
$tools: #0277bd;
$materials: #ff9800;
$funding: #e64a19;

$dark-accent: black;

@mixin reset-button {
    background: none;
    border: none;
    overflow: visible;
}

html,
body {
    margin: 0;
    font-family: sans-serif;
}

p {
    line-height: 1.2em;
}

main {
    width: 700px;
    max-width: 96%;
    margin: 0 auto;

    .header {
        text-align: center;
    }

    .photos {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        max-width: 100vw;
        overflow: hidden;

        @media screen and (max-width: 360px) {
            img:not(:first-child) {
                display: none;
            }
        }

        img {
            height: 200px;
        }
    }

    .map-explainer {
        ul {
            list-style-type: none;
            padding: 0;
        }
        .response-marker,
        .dropoff-marker {
            display: inline-flex;
            vertical-align: middle;
            transform: scale(0.7);
        }
        .response-marker {
            pointer-events: none;
            path.hidden {
                display: block !important;
            }
        }
        .labor {
            color: $labor;
        }
        .materials {
            color: $materials;
        }
        .tools {
            color: $tools;
        }
        .funding {
            color: $funding;
        }
    }

    &.map-expanded > :not(.map) {
        display: none;
    }
}

.map {
    width: 100vw;
    height: 50vh;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    min-height: 300px;
    max-height: 600px;
    position: relative;
    overflow: hidden;
    &.expanded {
        max-height: unset;
        min-height: unset;
        height: 100vh;
    }
    .mapbox-container {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }
}

@mixin tinted-overview-section($color) {
    .head {
        background-color: $color;
    }
    .body {
        background-color: mix(white, $color, 90%);
    }
}

.details-pane {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    width: 20%;
    padding: 10px;
    max-width: 500px;
    min-width: 350px;
    background: white;
    box-shadow: $base-shadow;
    z-index: 3;

    .close-button {
        @include reset-button();
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        width: 25px;
        height: 25px;
        font-size: 20px;
        line-height: 22px;
        &:hover {
            border-radius: 4px;
            background: #eee;
        }
    }

    h1 {
        font-size: 1.5em;
        font-weight: bold;
        flex-grow: 1;
    }

    .tab-selector {
        display: flex;
        flex-shrink: 0;

        button {
            @include reset-button();
            border-bottom: 3px solid transparent;
            font-size: 1em;
            padding: 0;
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 12px;
            }
            &.selected {
                border-bottom: 3px solid $dark-accent;
            }
            &:not(.selected):hover {
                border-bottom: 3px solid lighten($dark-accent, 50%);
            }
        }
    }

    .tab-pane {
        overflow-y: scroll;
    }

    .overview-section {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        .head,
        .body {
            padding: 10px;
        }
        .head {
            color: white;
            font-weight: bold;
            text-transform: capitalize;
        }
        .body {
            ul {
                list-style-type: square;
                margin-top: 0;
                margin-bottom: 0;
                li {
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        &.materials {
            @include tinted-overview-section($materials);
        }
        &.labor {
            @include tinted-overview-section($labor);
        }
        &.tools {
            @include tinted-overview-section($tools);
        }
        &.funding {
            @include tinted-overview-section($funding);
        }
    }

    .response-section {
        padding: 10px;
        margin-top: 15px;
        background: #eee;

        .info {
            .field {
                margin-bottom: 5px;
                .key {
                    text-transform: capitalize;
                }
            }

            :last-child {
                margin-bottom: 10px;
            }
        }

        .offer {
            .key {
                text-transform: capitalize;
            }
            padding: 10px;
            color: white;
            &.materials {
                background-color: $materials;
            }
            &.labor {
                background-color: $labor;
            }
            &.tools {
                background-color: $tools;
            }
            &.funding {
                background-color: $funding;
            }
        }
    }
}

.dropoff-marker {
    z-index: 1;
    box-shadow: $base-shadow;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background: #8bc34a;
    color: white;
    .caduceus {
        width: 30px;
        height: 30px;
        background: url('../static/images/caduceus.svg');
        background-size: cover;
    }
    .total-donations {
        font-weight: bold;
        font-size: 12px;
    }
}

.response-marker {
    @include reset-button();
    position: relative;
    width: 46px;
    height: 46px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .zip {
        z-index: 1;
        font-weight: bold;
    }

    .indicator {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        stroke-linecap: round;
        filter: drop-shadow($base-shadow);

        circle {
            fill: white;
        }

        path {
            stroke: black;
            stroke-width: 3px;
            fill: none;

            &.materials {
                stroke: $materials;
            }

            &.labor {
                stroke: $labor;
            }

            &.tools {
                stroke: $tools;
            }

            &.funding {
                stroke: $funding;
            }

            &.hidden {
                display: none;
            }
        }
    }
}
